.nav, .pagination, .carousel, .panel-title a { 
	cursor: pointer;
}

.alphabets{
	display: inline-block;
	margin: 5px;
}

.letter {	
	font-size: 40px;
	font-weight: bold;
	height: 80px;
	width: 80px;
	color: #3f51b5;
	padding: 0px;
	display: inline-block;
	text-align: center;
	cursor: pointer;
	background-color: #e8eaf6;
	border-radius: 50px;
	box-sizing: border-box;
}

.underline {
	display: inline-block;
	width: 80px
}

.answer{
	border-bottom: 2px solid black;
	padding: .8em 1.4em;
	display: inline-block;
}

#question{
	
}

#hanger{

}





