<div class="container">
	<h1 class="text-center">Let's Play Hang Man</h1>
		
		<!-- Hint One -->
		<div class="row text-center">
			<div class="col-md-6">
				<div ng-controller="CollapseCtrl">
					<button class="btn btn-info" ng-click="isCollapsed = !isCollapsed" ng-hide="showButtonHintOne">Hint One</button>
					<div collapse="isCollapsed">
						<br><div class="well well-sm">{{hintOne}}</div> 
					</div>
				</div>
			</div>

			<!-- Hint Two -->
			<div class="col-md-6">
				<div ng-controller="CollapseCtrl">
					<button class="btn btn-info" ng-click="isCollapsed = !isCollapsed" ng-hide="showButtonHintTwo">Hint Two</button>
					<div collapse="isCollapsed">
						<br><div class="well well-sm">{{hintTwo}}</div> 
					</div>
				</div>
			</div>

		</div>  <!-- row ends -->

		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		        <h4 class="modal-title text-center" id="myModalLabel">Player 1, please fill each form out and save before playing!</h4>
		      </div>
		      <div class="modal-body text-center">
		      	<form ng-submit="initalQuestion()">
							<h5>Brief Description: {{question}}</h5>
							<input type="text" ng-model="question" ng-hide="questionHide" class="form-control text-center" autofocus required>
							<button class="btn-xs btn-primary form-control" ng-hide="questionHide">Save</button>
						</form>
		        <form ng-submit="addWord()">
							<br><h5>Secret Word: {{secretWord}}</h5>
							<input type="text" ng-model="secretWord" ng-hide="buttonHide" class="form-control text-center" required>
							<button class="btn-xs btn-primary form-control" ng-hide="buttonHide">Save</button>
						</form>
						<form ng-submit="addHintOne()">
							<br><h5>1st Hint: {{hintOne}}</h5>
							<input type="text" ng-model="hintOne" ng-hide="hintOneHide" class="form-control text-center">
							<button class="btn-xs btn-primary form-control" ng-hide="hintOneHide">Save</button>
						</form>
						<form ng-submit="addHintTwo()">
							<br><h5>2nd Hint: {{hintTwo}}</h5>
							<input type="text" ng-model="hintTwo" ng-hide="hintTwoHide" class="form-control text-center">
							<button class="btn-xs btn-primary form-control" ng-hide="hintTwoHide">Save</button>
						</form>
		      </div>
		      <div class="modal-footer">
		      	<button type="button" class="btn btn-success" data-dismiss="modal" ng-hide="playButton">Let's Play</button>
		     </div>
		    </div>
		  </div>
		</div>



<hr>

	<div class="row">

		<!-- Left Side Start -->
		<div class="col-md-6">  

		<div class="text-center">
			<div class="underline" ng-repeat="i in displayLetters track by $index">
				<div class="answer"> 
				</div>
				<div ng-show="correct_answer">
					{{correctGuess}}
				</div>
			</div>
		</div>

		<svg width="400" height="550" id="hanger">

			<!-- Hanger -->
			<polyline points = "400,
											500 100,
											500 150,
											500 150,
											100 320,
											100 320,
											150"
											style="fill:none;stroke:black;stroke-width:15" />

			<!-- body -->
			<line style="stroke:black;" x1="320" y1="190" x2="320" y2="360" ng-show="body" />
			<!-- left arm -->
			<line style="stroke:black;" x1="320" y1="260" x2="250" y2="230" ng-show="leftArm" />
			<!-- right arm -->
			<line style="stroke:black;" x1="320" y1="260" x2="390" y2="230" ng-show="rightArm" />
			<!-- left leg -->
			<line style="stroke:black;" x1="320" y1="360" x2="250" y2="450" ng-show="leftLeg" />
			<!-- right leg -->
			<line style="stroke:black;" x1="320" y1="360" x2="390" y2="450" ng-show="rightLeg" />
			<!-- head -->
			<circle style="stroke:black;" cx="320" cy="190" r="40" fill="white" ng-show="head" />


		</svg>



	</div> <!-- left side end -->


		<!-- Displaying All Letters -->
		<div class="col-md-6 text-center">


			<h2 id="question" ng-show="hideQuestion">Question: {{question}}</h2>
			<div class="alphabets" ng-repeat="alphabet in alphabets">				
				<button class="letter" ng-click="getLetter(alphabet)" ng-hide="showLetter">{{alphabet}}</button>				
			</div>

			<!-- Image to show lost, game over -->
			<h2 ng-show="lost"><img src="../images/gameover.jpg" alt="game over"></h2>

			<!-- Image to show when winner, game over -->
			<h2 ng-show="won">You've won!</h2>

			<!-- Button trigger modal -->
			<br><br><br><br><br><br><br><br><br><br><br><div class="text-center">
				<button class="btn-lg btn-primary" data-toggle="modal" data-target="#myModal" ng-hide="buttonHide">
				  Game Set Up
				</button>
			</div>



		</div>  <!-- right side end -->



	</div> <!-- row ends -->

</div>  <!-- container ends -->



<!-- by $index -->
<!-- for displaying letters -->

<!-- modal upfront -->
<!-- z index = 2; -->
<!-- position: abosolute; -->

<!-- if x of y
console.log("test") -->
